.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-family: 'Lato', sans-serif;
}

header{
  background-color: deepskyblue;
}

.logo{
color: #fff !important;
}

.anasayfayazisi{
  color: #fff !important;
  font-family: 'Lato', sans-serif;
}

a:hover{
  color:red !important;
  font-family: 'Lato', sans-serif;
}

.home-container{
  background-image: url('image/resimiki.jpg');
  background-size: cover;
  height: 944px;
}

h1{
color: darkgreen;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: uppercase;
}

.form{
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  margin-bottom: 10px;
}
.sifreunuttum{
  margin-left: auto;
  font-size: 12px;
}
